<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zoombut.VisualSurveillanceSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Zoombut.VisualSurveillanceSystem.Properties.Settings>
            <setting name="ConfigFile" serializeAs="String">
                <value>./config.xml</value>
            </setting>
        </Zoombut.VisualSurveillanceSystem.Properties.Settings>
    </userSettings>
</configuration>